<div >
    <div class ="mycharts" >
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-area"]'></fa-icon>Predicted Energy Consumption</div>
            <div class="card-body"><sb-charts-area></sb-charts-area></div
        ></sb-card>
    </div>
    <div class ="mycharts" >
        <sb-card
            ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "chart-bar"]'></fa-icon>Historic Energy Consumption</div>
            <div class="card-body"><sb-charts-bar></sb-charts-bar></div
        ></sb-card>
    </div>
    <div class ="mycharts"><sb-dashboard-tables></sb-dashboard-tables
    ></div>
</div>
