
<div class="row">
    <button  [hidden]="show" style="width: 85%;" type="button" class="btn btn-outline-primary" (click)="onshow();">See User Info</button>
    <div *ngIf=show style="display: flex;width: 95%">
        <div class="col-xl" style="padding: 30px;width: 28%;">
            <sb-card-view-details link="/dashboard" [textin] = "userEnergy"><div class="card-body"><b>Energy Units available</b><span class="bolt-icon"></span></div></sb-card-view-details>
        </div>
        <div class="col-xl" style="padding: 30px;width: 28%;">
            <sb-card-view-details link="/dashboard" [textin] = "userPrediction"><div class="card-body"><b>Today's predicted consumption</b><span class="predict-icon"></span></div></sb-card-view-details>
        </div>
        <div class="col-xl" style="padding: 30px;width: 28%;">
            <sb-card-view-details link="/dashboard" [textin] = "userCoins" ><div class="card-body"><b>Energy Coins available</b><span class="coin-icon"></span></div></sb-card-view-details>
        </div>
    </div>
    
</div>
