/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
}

.bodybackground {
    background-image: url("assets/images/background.jpg");
    background-size: 100% 100%;
    /* background-color: #f0f8ff;  */  
    height: 100%;   
    text-align: center;
}

@font-face{
    font-family: siemensFontRoman;
    src: url('fonts/SiemensSerif_Prof_Roman.ttf')format("opentype");
}

@font-face{
    font-family: siemensFontBold;
    src: url('fonts/SiemensSerif_Prof_Bold.ttf')format("opentype");
}

*{
    font-family: siemensFontRoman;
}